Team ChemJam
Rae Vroman, Michael Lopez, Alex Croghan, Hieu Dinh, Evan Lamkie
ChemXplosion

Requirements Document
Revision v1.1


1. Introduction

Purpose:

The purpose of this project is to complete the first level on the previously designed learning module, fixing many issues that 
do not allow the game to function properly. There will be additional features added to the game to have more content.

Project Scope:

The project will focus primarily on making the original module/game to become a working product. The original puzzles must be 
fixed in order for there to be an actual goal in the game. The first level will need some polishing and tweaking so the game 
will provide a better user experience. There will be an additional level that will contain more chemical equations that are 
based around stoichiometry.

Goals:

- Fix all issues that are current with the first level
- Improve and polish existing features
- Add additional features to improve gameplay and learning

2. Requirements

Functional Requirements:

- The player must be able to access and complete the chemical equation puzzles (Completed)
- The player must have access to a map (WIP - Minimap added)
- The player must be able to view their own location (Completed - Minimap)
- The game must have a tutorial system that explains the basic functions of the game (WIP)
- The game must provide a second level containing advanced chemical equations to solve (Incomplete)
- The player must be able to access an inventory screen (Completed)
- The player must be able to place items within a backpack (Completed)
- The game must contain traps that could potentially fail the player (Incomplete)
- The game must contain BGM (Completed)
- The game must contain soundFX for all player interactions (WIP)
- The game must allow the player to save their current progress (Incomplete)
- The game must allow the player to load from a previous progression (Incomplete)
- New 3D models must replace existing models that are irrelevant (Completed)

Other Requirements:

- The code must be cleaned up and organized (Completed)
- The existing equation must be made more legible (Completed)
- The first level must be fixed in order to be completed
	- Fix ability to jump through the ceiling and fall through the map (Completed)
	- Fix chemical equation related issues (Completed)
	- Fix ability to pass through a closed door (first locked door - right side) (Completed)
	- Fix ability to pass through 2nd reactor door and unable to exit (Completed)
- Remove the item count on GUI (Completed)
- Fix GUI related issues including the main menu (WIP)
- Implement time limits on certain equations/rooms (Incomplete)
- Fix issues with movement (Completed)
- Additional graphical enhancements to improve quality of scenery (WIP)

	

